@model StudentApplication.Models.Student
@{
    Layout = "_Layout";
}
<!DOCTYPE>
<html>
<head>
  <title>Delete a Student</title>
</head>
<body>
  
      <h1>Delete a student</h1>
          @Html.ValidationSummary()
    
      <p><a href="~/Student/Index">Return to students</a></p>

      <form action="/Student/DeleteStudent" method="POST">
        <fieldset>
        <legend>Student Information</legend>

        <p><span>First name:</span>
         <span>@Model.FirstName</span></p>

        <p><span>Last name:</span>
         <span>@Model.LastName</span></p>

        <p><span>Enrollment Date:</span>
          <span>@Model.EnrollmentDate</span></p>

        <input type="hidden" value="@Model.StudentID" />
        <p><input type="submit" name="buttonDelete" value="Delete" /></p>
        </fieldset>
      </form>
    </body>
</html>