@model StudentApplication.Models.Student
@{
    Layout = "_Layout";
}
<!DOCTYPE>
<html>
<head>
  <title>Delete a Student</title>
</head>
<body>
  
      <h1>Delete a student</h1>
          @Html.ValidationSummary()
    
      <p><a href="~/Student/Index">Return to students</a></p>

        <form asp-controller="Student"  asp-action="DeleteStudent" method="POST">
        <input class="form-control" type="Hidden" asp-for="StudentID">
        
        <div class="form-group">
        <label asp-for="First name"></label>
         <div><p class="form-control-static">@Model.FirstName</p></div>
        </div>

        <div class="form-group">
        <label asp-for="Last name"></label>
         <div><p class="form-control-static">@Model.LastName</p></div>
        </div>

        <div class="form-group">
        <label asp-for="Enrollment date"></label>
         <div><p class="form-control-static">@Model.EnrollmentDate</p></div>
        </div>

        <div class="form-group">
        <label asp-for="Age"></label>
         <div><p class="form-control-static">@Model.Age</p></div>
        </div>

        <div class="form-group">
            <div>
              <button type="submit" class="btn btn-danger">Delete</button>
              <a class="btn btn-info" asp-controller="Student" asp-action="Index">Back to list</a>
              </div>
            </div>
      </form>
    </body>
</html>