@model StudentApplication.Models.Student
@{
    Layout = "_Layout";
}
<!DOCTYPE>
<html>
<head>
  <title>Details</title>
</head>
<body>
  
      <h2>Details for student @Model.FirstName @Model.LastName</h2>
    
        <input class="form-control" type="Hidden" asp-for="StudentID">
        
        <label asp.for="First name"></label>
         <div><p class="form-control-static">@Model.FirstName</p></div>

        <label asp.for="Last name"></label>
         <div><p class="form-control-static">@Model.LastName</p></div>

        <label asp.for="Enrollment date"></label>
         <div><p class="form-control-static">@Model.EnrollmentDate</p></div>

        <label asp.for="Age"></label>
         <div><p class="form-control-static">@Model.Age</p></div>

        
      <h3>Enrollments</h3>
      @foreach(var st in Model.Enrollments)
      {
        @if(st.Grade == 0)
        {
          <p>@st.Course.Title  -  ------</p>
        }
        <p>@st.Course.Title  -  @st.Grade</p>
      }

      <div class="form-group">
          <a class="btn btn-info" asp-controller="Student" asp-action="Index">Back to list</a>
          </div>
    </body>
</html>