@model StudentApplication.Models.Entities.Student
@{
    ViewBag.Title = "Student Details";
}  
      <h3>Details for student @Model.FirstName @Model.LastName</h3>
    
        <input class="form-control" type="Hidden" asp-for="StudentID">
        
        <label asp.for="FirstName"></label>
         <div><p class="form-control-static">@Model.FirstName</p></div>

        <label asp.for="LastName"></label>
         <div><p class="form-control-static">@Model.LastName</p></div>

        <label asp.for="EnrollmentDate"></label>
         <div><p class="form-control-static">@Model.EnrollmentDate</p></div>

        <label asp.for="Age"></label>
         <div><p class="form-control-static">@Model.Age</p></div>

        
      <h3>Enrollments</h3>
      @foreach(var st in Model.Enrollments)
      {
        @if(st.Grade == 0)
        {
          <p>@st.Course.Title  -  ------</p>
        }
        <p>@st.Course.Title  -  @st.Grade</p>
      }

      <div class="form-group">
          <a class="btn btn-primary" asp-controller="Student" asp-action="Course" asp-route-id=@Model.StudentID >Add Enrollments</a>
          <a class="btn btn-primary" asp-controller="Student" asp-action="Enrollments" asp-route-id=@Model.StudentID >Give Grade</a>
          <a class="btn btn-info" asp-controller="Student" asp-action="Index">Back to list</a>
          </div>